<!-- <header>
  my App
  <button routerLink="/login">Login</button>
  <button routerLink="/sales">Sales</button>
  <button routerLink="/greet">Greet</button>
  <button routerLink="/home">Home</button>
  <button routerLink="/orders">Orders</button>
  <button routerLink="/customers">customers</button>
  <button routerLink="/customers/abc">Abc</button>
</header>
<router-outlet></router-outlet>
<footer>
  my footer
</footer> -->

<h1>Service Demo</h1>

<app-child1></app-child1>
<app-child2></app-child2>
<app-child3></app-child3>

<button (click)="sortData()">sort data </button>